/* General styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* Gallery container */
/* If category is defined, apply these styles */
.category-header {
    color: #0C899E;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0.7em;
}

.category-description {
    font-size: 1.5em;
    line-height: 1.6em;
    color: #ffdf60;
    text-align: center;
    margin-top: 0.5em;
}

/* If no category is defined (All Games) */
.all-games-header {
    color: #0C899E;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0.7em;
}


.games-list {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5em;
    justify-items: center;
}

/* Game item styles */
.game-item {
    background-color: #0C899E;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    color: white;
}

.game-item:hover {
    transform: scale(1.05);
}

.game-image {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

/* Game Details */
.game-item h3 {
    font-size: 1.6em;
    margin: 0.5em 0;
    color: #ffffff; /* Ensures h3 text is white */
}

.game-item p {
    color: #e0f0f5; /* Lightened text color for better contrast on the dark background */
    font-size: 1em;
    line-height: 1.4em;
}

/* Links */
.games-list a {
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .games-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .games-list {
        grid-template-columns: 1fr;
    }
}
