/* General styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* Gallery container */
.gallery {
    padding: 2em;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5em;
    justify-items: center;
}

/* Game card styles */
.game-card-link {
    text-decoration: none;
    color: inherit;
}

.game-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}

.game-card:hover {
    transform: scale(1.05);
}

/* Main Image */
.game-main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Game Details */
.game-card h3 {
    font-size: 1.6em;
    margin: 0.5em 0;
}

.game-card p {
    color: #555;
}

/* Gallery of Additional Images */
.game-gallery {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: space-between;
}

.game-gallery img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}
