{% extends 'general/base.html' %}
{% load static %}

{% block navbar %}
{{ block.super }}
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
{% if category %}
<h1 class="category-header">{{ category.name }} Games</h1>
<p class="category-description">{{ category.description }}</p>
{% else %}
<h1 class="all-games-header">All Games</h1>
{% endif %}
<div class="games-list">
    {% for game in games %}
    <a href="/game/{{ game.id }}">
        <div class="game-item">
            {% if game.main_image %}
            <img src="{{ game.main_image.image.url }}" alt="{{ game.main_image.image.name }}" class="game-image">
            {% else %}
            <img src="{% static 'images/default_game_image.png' %}" alt="Default game image" class="game-image">
            {% endif %}
            <h3>{{ game.name }}</h3>
            <p>{{ game.short_description }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}


