{% extends 'general/base.html' %}
{% load static %}

{% block navbar %}
{{ block.super }}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game_details.css' %}">

<div class="game-detail-container">
    <h1>{{ game.name }}</h1>

    <div class="game-image">
        {% if game.main_image %}
        <img src="{{ game.main_image.image.url }}" alt="{{ game.main_image.image.name }}">
        {% else %}
        <img src="{% static 'images/default_game_image.png' %}" alt="Default game image">
        {% endif %}
    </div>

    <div class="game-details">
        <p>{{ game.description }}</p>

        {% if game.categories.all %}
        <p><strong>Categories:</strong>
            {% for category in game.categories.all %}
            {{ category.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}

        {% if game.recommended_age %}
        <p><strong>Recommended Age:</strong> {{ game.recommended_age }}</p>
        {% endif %}

        {% if game.number_of_players %}
        <p><strong>Number of Players:</strong> {{ game.number_of_players }}</p>
        {% endif %}

        {% if game.price_range %}
        <p><strong>Price Range:</strong> {{ game.price_range }}</p>
        {% endif %}

        <!-- New fields based on JSON -->
        {% if game.year_published %}
        <p><strong>Year Published:</strong> {{ game.year_published }}</p>
        {% endif %}

        {% if game.rating %}
        <p><strong>Rating:</strong> {{ game.rating }} / 10</p>
        {% endif %}

        {% if game.rank %}
        <p><strong>Rank:</strong> {{ game.rank }}</p>
        {% endif %}

        {% if game.max_players %}
        <p><strong>Max Players:</strong> {{ game.max_players }}</p>
        {% endif %}

        {% if game.min_players %}
        <p><strong>Min Players:</strong> {{ game.min_players }}</p>
        {% endif %}

        {% if game.min_play_time %}
        <p><strong>Min Playtime:</strong> {{ game.min_play_time }} minutes</p>
        {% endif %}

        {% if game.max_play_time %}
        <p><strong>Max Playtime:</strong> {{ game.max_play_time }} minutes</p>
        {% endif %}

        {% if game.purchase_url %}
        <p><strong>Purchase URL:</strong> <a href="{{ game.purchase_url }}" class="purchase-url" target="_blank">Click
            here</a></p>
        {% endif %}
    </div>

    <div class="game-gallery">
        <div class="images">
            {% for image in game.all_images %}
            <img src="{{ image.image.url }}" alt="Game Image">
            {% empty %}
            <p>No additional images available.</p>
            {% endfor %}
        </div>
    </div>

    {% include 'general/reviews_section.html' %}
</div>

{% endblock %}
